@import '../../../node_modules/bulma/css/bulma-rtl.min.css';

*{
    font-family: 'Prompt', sans-serif;
}

body{
    background-color: var(--bg);
    max-height:100%;
    min-height:100vh;
    position:relative!important;
}

:root {
  --bg: #000000;
  --bg-card: #0E1218;
  --text: #F1F1F1;
  --img-profile: #8257e5;
  --buttons: #FFF;
  --border-button: #1A1A1A;
}

.has-text-light{
    color:var(--text)!important;
}

.is-link{
    color:#8257e5;
}

.is-success{
    color:#75b13a;
}

.is-danger{
    color:#c23d3d;
}

.is-grey{
    color:#aaa7a7;
}

.border{
    border-left:30px solid ;
    border-right:30px solid;
    border-top:15px solid;
    border-bottom:15px solid;
    border-radius:50px;
    z-index:900!important;
    position:relative!important;
}

.card{
    background-color:var(--bg-card)!important;
}

img{
    border-radius:50%!important;
    border:5px solid var(--img-profile);
    width:120px!important;
    height:120px!important; 
}

.logo .svg{
    background-color:var(--bg);
    border-radius:50%;
    width:50px;
    height:50px;
    padding:10px;
    border:1px solid #fff;
}

.notification{
    opacity:.5;
}

.card-footer{
    border:none;
}

.footer{
    background-color:var(--bg)!important;
}
